@charset "utf-8";

.skip {
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    text-indent: -999999%;
    overflow: hidden;
    visibility: hidden;
}

/*리셋*/

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: OpenSans-Regular, sans-serif;
}


/*리셋*/


/*네비게이션*/

nav.mobile_depth1 {
    position: absolute;
    top: 0px;
    right: 0;
    width: 180px;
    height: 100%;
    margin-left: -180px;
    background: url("../img/bg_mobile_nav.jpg") 0 0 repeat-y;
    background-size: 180px 47px;
}

nav.mobile_depth1 ul.depth1 {
    padding-top: 30px;
}

nav.mobile_depth1 ul.depth1 a {
    display: block;
    padding: 9px 11px;
    background: url("../img/bg_mnav_depth1.jpg") 0 0 repeat-x;
    background-size: 15px 35px;
    color: #fff;
    font-size: 12px;
}

nav.mobile_depth1 ul.depth1 a.cnt {
    font-weight: bold;
    background: url("../img/bg_mnav_depth1_on.jpg") 0 0 repeat-x;
}

nav.mobile_depth1 span.menu_txt {
    display: block;
    background: url("../img/ico_plmn.png") right 1px no-repeat;
    width: 90%;
}

nav.mobile_depth1 ul.depth1 a.cnt span.menu_txt {
    background-position: right -13px;
}

nav.mobile_depth1 ul.depth2 {
    display: none;
}

nav.mobile_depth1 ul.depth2 a {
    display: block;
    padding: 9px 13px;
    background: url("../img/bg_mnav_depth2.jpg") 0 0 repeat-x;
    background-size: 15px 35px;
    color: #24314b;
    font-size: 11px;
}

nav.mobile_depth1 ul.depth2 a.cnt {
    font-weight: normal;
    background: #fff;
}

nav.mobile_depth1 ul.depth2 a.cnt3 {
    font-weight: bold;
    background: #fff;
}

nav.mobile_depth1 ul.depth2 a span.menu_txt {
    display: block;
    background: url("../img/ico_plmn2.png") right 1px no-repeat;
    width: 90%;
}

nav.mobile_depth1 ul.depth2 a.cnt span.menu_txt {
    background-position: right -13px;
}

nav.mobile_depth1 ul.depth3 {
    display: none;
}

nav.mobile_depth1 ul.depth3 a {
    display: block;
    background: #fff;
}

nav.mobile_depth1 ul.depth3 a span.menu_txt {
    display: block;
    background: url("../img/ico_plmn2.png") right 1px no-repeat;
    width: 90%;
}

nav {
    display: none;
}

nav.mobile_depth1 {
    display: none;
}

.btn_nav {
    display: none;
}

#wrapper {
    position: absolute;
    width: 100%;
    padding: 0%;
    min-width: 320px;
}

ul#menu li {
    color: white;
    float: left;
    padding-left: 20px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 100px;
}

header div#header {
    width: 1200px;
    position: relative;
    margin: auto;
    border: 0px solid red;
}

#menu {
    position: absolute;
    top: 35px;
    right: 0px;
    font-size: 12px;
}

#logo {
    padding-top: 0px;
}

#sub0 {
    width: 100%;
    height: 750px;
    background-image: url('img/main.png')
}

#main_text {
    text-align: center;
    padding-top: 0px;
}

#main_subtext1 {
    text-align: center;
    color: #d8d8d8;
    padding-top: 550px;
    font-size: 12px;
    padding-bottom: 10px;
    line-height: 20px;
}

#main_subtext2 {
    text-align: center;
    color: #afafaf;
}

div#lording {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    background-size: cover;
    text-align: center;
    vertical-align: middle;
}

#process_text3 {
    text-align: center;
    padding-top: 50px;
    color: #020b41;
    ;
    font-size: 30px;
    font-weight: bold;
}

section div.aboutventas_box {
    width: 1200px;
    height: 480px;
    position: relative;
    margin: auto;
}

section div.aboutventas_img img {
    width: 552px;
    height: 308px;
    padding-top: 75px;
    float: left;
    padding-right: 60px;
}

section div.aboutventas_img2 {
    padding-top: 85px;
}

section p.aboutventas_text1 {
    padding-top: 60px;
    line-height: 30px;
    font-size: 23px;
    font-weight: bold;
}

section p.aboutventas_text2 {
    padding-top: 20px;
    line-height: 23px;
    color: #8a8a8a;
    font-size: 14px;
}

section p.aboutventas_text2_1 {
    padding-top: 20px;
    line-height: 23px;
    color: #8a8a8a;
    font-size: 14px;
    text-align: center;
}

section div.aboutventas_button {
    padding-top: 30Px;
}

#line {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#sub1 {
    width: 100%;
    height: 460px;
    position: relative;
    margin: auto;
    border: 0px solid red;
}

#sub1_bg {
    width: 1200px;
    height: 600px;
    position: relative;
    margin: auto;
    border: 0px solid red;
}

.slidess1 {
    width: 100%;
    height: 600px;
    border: 0px solid red;
    position: relative;
}

.title1 {
    padding-top: 100px;
}

.text1 {
    padding-top: 25px;
    line-height: 150%;
    color: #595959;
    width: 500px;
    padding-left: 70px;
}

.text2 {
    font-size: 18px;
    padding-top: 20px;
    line-height: 150%;
    width: 500px;
    padding-left: 70px;
}

.img1 {
    position: absolute;
    right: 0px;
    top: 50px;
}

#sub2 {
    width: 100%;
    height: 450px;
    position: relative;
    margin: auto;
    border: 0px solid red;
    background-color: white;
    background-color: #081539;
}

#sub2_bg {
    width: 1200px;
    height: 920px;
    position: relative;
    margin: auto;
    border: 0px solid red;
}

#title2 {
    text-align: center;
    padding-top: 60px;
}

#text3 {
    text-align: center;
    padding-top: 85px;
    line-height: 150%;
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
}

#icon {
    width: 727px;
    height: 295px;
    position: relative;
    border: px solid red;
    margin: auto;
}

#text4 {
    padding-top: 20px;
}

#sub3 {
    width: 100%;
    height: 200px;
    position: relative;
    margin: auto;
    border: 0px solid red;
    background-image: url('img/banner_bg.png')
}

#sub3_bg {
    width: 1200px;
    height: 200px;
    position: relative;
    border: 0px solid red;
    margin: auto;
    text-align: center;
}

#sub3_text1 {
    padding-top: 85px;
    color: #020b41;
    ;
    font-size: 30px;
    font-weight: bold;
}

#text5 {
    padding-top: 7px;
    color: gainsboro;
    font-size: 16px;
}

#button {
    padding-top: 25px;
}

#sub4 {
    width: 100%;
    position: relative;
    margin: auto;
    border: 0px solid red;
}

#sub4_bg {
    width: 1200px;
    height: 350px;
    position: relative;
    margin: auto;
    border: 0px solid red;
    text-align: center;
}

#sub6 {
    width: 100%;
    height: 400px;
    margin: auto;
    border: 0px solid red;
    background-image: url('img/download_bg.png')
}

#sub6_bg {
    width: 780px;
    height: 400px;
    position: relative;
    margin: auto;
    border: 0px solid red;
}

#process_title {
    text-align: center;
    padding-top: 50px;
}

#process_text {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

#process_text2 {
    text-align: center;
    padding-top: 70px;
    color: #020b41;
    ;
    font-size: 30px;
    font-weight: bold;
}

#process_text2_1 {
    text-align: center;
    padding-top: 12px;
    color: #020b41;
    ;
    font-size: 14px;
    padding-bottom: 30px;
}

ul#process li {
    width: 398px;
    height: 180px;
    float: left;
    text-align: center;
}

ul#process1 li {
    width: 130px;
    height: 180px;
    float: left;
    text-align: center;
}

div.process_back {
    height: 180px;
}

.process_img1 {
    padding-top: 30px;
}

.process_text1 {
    padding-top: 15px;
    line-height: 150%;
    color: #363636;
    font-weight: bold;
}

.process_text2 {
    padding-top: 15px;
    line-height: 150%;
    color: #626262;
    font-size: 13px;
}

.main_button {
    width: 1200px;
    height: 40px;
    border: 1px solid red;
    position: relative;
}

.main_button1 {
    float: left;
    display: inline-block;
    text-align: center;
}

.main_button2 {
    display: inline-block;
}

ul#contact_box {
    border: 1200px;
    height: 600px;
    position: relative;
    margin: auto;
    border: 0px solid red;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 50px;
}

#footer {
    width: 100%;
    height: 200px;
    background-color: black;
    position: relative;
    margin: auto;
    font-size: 12px;
    line-height: 20px;
}

#footsub {
    width: 1200px;
    height: 200px;
    border: 0px solid red;
    position: relative;
    margin: auto;
}

.t1 {
    color: white;
    position: absolute;
    left: 80px;
    top: 50px;
    text-align: left;
}

.t2 {
    color: white;
    position: absolute;
    left: 370px;
    top: 50px;
    text-align: left;
}

.t3 {
    color: white;
    position: absolute;
    left: 670px;
    top: 50px;
    text-align: left;
}

.t4 {
    color: white;
    position: absolute;
    left: 1000px;
    top: 50px;
    text-align: left;
}

#footlogo {
    position: absolute;
    top: 50px;
}

#cop {
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    text-align: center;
    border-top: 1px solid gray;
    padding-top: 15px;
    font-size: 14px;
}

.footsubtit {
    margin-bottom: 10px;
}

.footsubtit1 {
    margin-bottom: 25px;
}

.t1 p {
    height: 30px;
}

.t2 p {
    height: 30px;
}

.t3 p {
    height: 40px;
}

.t4 p {
    height: 30px;
}

.footsubcot a {
    color: #ffffff;
}

#t4_text a {
    color: #1cc1ff;
}

.button {
    margin: auto;
    width: 900px;
    height: 65px;
    position: relative;
}

.button>ul {
    text-align: center;
}

.button .button1 {
    padding-right: 0px;
    display: inline-block;
    padding-top: 20px;
}

@media screen and (max-width: 55.1875em) {
    /*상단*/

    header div#header {
        width: 100%;
        position: relative;
        margin: auto;
        border: 0px solid red;
    }

    #menu {
        position: absolute;
        top: 35px;
        right: 20px;
        font-size: 12px;
    }



    #sub0 {
        width: 100%;
        height: 400px;
        background-image: url('img/main.png')
    }
    #main_text {
        text-align: center;
        padding-top: 0px;
    }
    #main_subtext1 {
        text-align: center;
        color: #d8d8d8;
        padding-top: 350px;
        font-size: 12px;
        padding-bottom: 10px;
        line-height: 20px;
    }
    #main_subtext2 {
        text-align: center;
        color: #afafaf;
    }
    .button {
        margin: auto;
        width: 100%;
        height: 65px;
        position: relative;
    }
    .button>ul {
        text-align: center;
    }
    .button .button1 {
        padding-right: 0px;
        display: inline-block;
        padding-top: 0px;
    }
    #sub1 {
        height: 630px;
        position: relative;
        margin: auto;
        border: 0px solid red;
    }
    #sub1_bg {
        width: 100%;
        height: 900px;
        position: relative;
        margin: auto;
        border: 0px solid red;
    }
    .title1 {
        padding-top: 100px;
    }
    .text1 {
        padding-top: 25px;
        line-height: 150%;
        color: #595959;
        width: 500px;
        padding-left: 70px;
    }
    .text2 {
        font-size: 18px;
        padding-top: 20px;
        line-height: 150%;
        width: 500px;
        padding-left: 70px;
    }
    .img1 {
        position: absolute;
        right: 0px;
        top: 50px;
    }
    section div.aboutventas_box {
        width: 100%;
        position: relative;
        margin: auto;
    }
    section div.aboutventas_img img {
        width: 100%;
        float: left;
        padding-top: 0;
        padding-bottom: 30px;
    }
    section div.aboutventas_img2 {
        text-align: center;
        padding-top: 60px;
    }
    section p.aboutventas_text1 {
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 20px;
        line-height: 30px;
        font-size: 23px;
        font-weight: bold;
    }
    section p.aboutventas_text2 {
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 20px;
        line-height: 23px;
        color: #8a8a8a;
        font-size: 14px;
    }
    section div.aboutventas_button {
        padding-top: 30Px;
    }
    #sub2 {
        width: 100%;
        height: 480px;
        position: relative;
        margin: auto;
        border: 0px solid red;
        background-color: white;
        background-color: #081539;
    }
    #sub2_bg {
        width: 100%;
        height: 920px;
        position: relative;
        margin: auto;
        border: 0px solid red;
    }
    #title2 {
        text-align: center;
        padding-top: 50px;
    }
    #text3 {
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
        padding-top: 50px;
        line-height: 150%;
        font-size: 23px;
        color: #ffffff;
        font-weight: bold;
    }
    #icon {
        width: 727px;
        height: 295px;
        position: relative;
        border: px solid red;
        margin: auto;
    }
    #text4 {
        padding-top: 20px;
    }
    section p.aboutventas_text2_1 {
        padding-top: 20px;
        line-height: 23px;
        color: #8a8a8a;
        font-size: 14px;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
    }
    #sub3 {
        width: 100%;
        height: 200px;
        position: relative;
        margin: auto;
        border: 0px solid red;
        background-image: url('img/banner_bg.png')
    }
    #sub3_bg {
        width: 100%;
        height: 200px;
        position: relative;
        border: 0px solid red;
        margin: auto;
        text-align: center;
    }
    #sub3_text1 {
        padding-top: 85px;
        color: #020b41;
        ;
        font-size: 30px;
        font-weight: bold;
    }
    #text5 {
        padding-top: 7px;
        color: gainsboro;
        font-size: 16px;
    }
    #button {
        padding-top: 25px;
    }
    #process_title {
        text-align: center;
        padding-top: 50px;
    }
    #process_text {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    #process_text2 {
        text-align: center;
        padding-top: 70px;
        color: #020b41;
        ;
        font-size: 30px;
        font-weight: bold;
    }
    #process_text3 {
        text-align: center;
        padding-top: 70px;
        color: #020b41;
        ;
        font-size: 30px;
        font-weight: bold;
    }
    #process_text2_1 {
        text-align: center;
        padding-top: 12px;
        color: #020b41;
        ;
        font-size: 14px;
        padding-bottom: 30px;
    }
    ul#process li {
        width: 100%;
        height: 280px;
        float: left;
        text-align: center;
    }
    div.process_back {
        width: 100%;
        height: 180px;
    }
    .process_img1 {
        padding-top: 0px;
    }
    .process_text1 {
        padding-top: 15px;
        line-height: 150%;
        color: #363636;
        font-weight: bold;
    }
    .process_text2 {
        padding-top: 15px;
        line-height: 150%;
        color: #626262;
        font-size: 13px;
    }
    #sub2 {
        width: 100%;
        height: 500px;
        position: relative;
        margin: auto;
        border: 0px solid red;
        background-color: white;
        background-color: #081539;
    }
    #sub2_bg {
        width: 100%;
        height: 920px;
        position: relative;
        margin: auto;
        border: 0px solid red;
    }
    #title2 {
        text-align: center;
        padding-top: 50px;
    }
    #text3 {
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
        padding-top: 50px;
        line-height: 150%;
        font-size: 23px;
        color: #ffffff;
        font-weight: bold;
    }
    #icon {
        width: 727px;
        height: 295px;
        position: relative;
        border: px solid red;
        margin: auto;
    }
    #text4 {
        padding-top: 20px;
    }
    section p.aboutventas_text2_1 {
        padding-top: 20px;
        line-height: 23px;
        color: #8a8a8a;
        font-size: 14px;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
    }
    #process_text3 {
        text-align: center;
        padding-top: 50px;
        color: #020b41;
        ;
        font-size: 30px;
        font-weight: bold;
    }
    #sub4 {
        width: 100%;
        position: relative;
        margin: auto;
        border: 0px solid red;
    }
    #sub4_bg {
        width: 100%;
        height: 850px;
        position: relative;
        margin: auto;
        border: 0px solid red;
        text-align: center;
    }
    #sub3 {
        width: 100%;
        height: 200px;
        position: relative;
        margin: auto;
        border: 0px solid red;
        background-image: url('img/banner_bg.png')
    }
    #sub3_bg {
        width: 100%;
        height: 200px;
        position: relative;
        border: 0px solid red;
        margin: auto;
        text-align: center;
    }
    #sub3_text1 {
        padding-top: 55px;
        color: #020b41;
        ;
        font-size: 30px;
        font-weight: bold;
    }
    #text5 {
        padding-top: 7px;
        color: gainsboro;
        font-size: 16px;
    }
    #button {
        padding-top: 25px;
    }
    #footer {
        width: 100%;
        height: 320px;
        background-color: black;
        position: relative;
        margin: auto;
        font-size: 12px;
        line-height: 20px;
    }
    #footsub {
        width: 100%;
        height: 200px;
        border: 0px solid red;
        position: relative;
        margin: auto;
    }
    .t1 {
        color: white;
        position: absolute;
        left: 50px;
        top: px;
        text-align: left;
    }
    .t2 {
        color: white;
        position: absolute;
        left: 250px;
        top: 50px;
        text-align: left;
    }
    .t3 {
        color: white;
        position: absolute;
        left: 50px;
        top: 150px;
        text-align: left;
    }
    .t4 {
        color: white;
        position: absolute;
        left: 50px;
        top: 200px;
        text-align: left;
    }
    #footlogo {
        position: absolute;
        top: 50px;
    }
    #cop {
        width: 100%;
        height: 40px;
        background-color: black;
        color: white;
        text-align: center;
        border-top: 1px solid gray;
        padding-top: 15px;
        font-size: 14px;
    }
    .footsubtit {
        margin-bottom: 10px;
    }
    .footsubtit1 {
        margin-bottom: 25px;
    }
    .t1 p {
        height: 30px;
    }
    .t2 p {
        height: 30px;
    }
    .t3 p {
        height: 40px;
    }
    .t4 p {
        height: 30px;
    }
    .footsubcot a {
        color: #ffffff;
    }
    #t4_text a {
        color: #1cc1ff;
    }
    @media screen and (max-width: 460px) {
        /*상단*/
        #sub0 {
            width: 100%;
            height: 400px;
            background-image: url('img/main.png')
        }
        #main_text {
            text-align: center;
            padding-top: 0px;
        }
        #main_subtext1 {
            text-align: center;
            color: #d8d8d8;
            padding-top: 350px;
            font-size: 12px;
            padding-bottom: 10px;
            line-height: 20px;
        }
        #main_subtext2 {
            text-align: center;
            color: #afafaf;
        }
        .button {
            margin: auto;
            width: 100%;
            height: 65px;
            position: relative;
        }
        .button>ul {
            text-align: center;
        }
        .button .button1 {
            padding-right: 0px;
            display: inline-block;
            padding-top: 0px;
        }
        #sub1 {
            height: 700px;
            position: relative;
            margin: auto;
            border: 0px solid red;
        }
        #sub1_bg {
            width: 100%;
            height: 900px;
            position: relative;
            margin: auto;
            border: 0px solid red;
        }
        .title1 {
            padding-top: 100px;
        }
        .text1 {
            padding-top: 25px;
            line-height: 150%;
            color: #595959;
            width: 500px;
            padding-left: 70px;
        }
        .text2 {
            font-size: 18px;
            padding-top: 20px;
            line-height: 150%;
            width: 500px;
            padding-left: 70px;
        }
        .img1 {
            position: absolute;
            right: 0px;
            top: 50px;
        }
        section div.aboutventas_box {
            width: 100%;
            position: relative;
            margin: auto;
        }
        section div.aboutventas_img img {
            width: 100%;
            float: left;
            padding-top: 0;
            padding-bottom: 30px;
        }
        section div.aboutventas_img2 {
            text-align: center;
            padding-top: 60px;
        }
        section p.aboutventas_text1 {
            text-align: center;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 20px;
            line-height: 30px;
            font-size: 23px;
            font-weight: bold;
        }
        section p.aboutventas_text2 {
            text-align: center;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 20px;
            line-height: 23px;
            color: #8a8a8a;
            font-size: 14px;
        }
        section div.aboutventas_button {
            padding-top: 30Px;
        }
        #sub2 {
            width: 100%;
            height: 750px;
            position: relative;
            margin: auto;
            border: 0px solid red;
            background-color: white;
            background-color: #081539;
        }
        #sub2_bg {
            width: 100%;
            height: 850px;
            position: relative;
            margin: auto;
            border: 0px solid red;
        }
        #title2 {
            text-align: center;
            padding-top: 50px;
        }
        #text3 {
            padding-left: 15px;
            padding-right: 15px;
            text-align: center;
            padding-top: 50px;
            line-height: 150%;
            font-size: 23px;
            color: #ffffff;
            font-weight: bold;
        }
        #icon {
            width: 727px;
            height: 295px;
            position: relative;
            border: px solid red;
            margin: auto;
        }
        #text4 {
            padding-top: 20px;
        }
        section p.aboutventas_text2_1 {
            padding-top: 20px;
            line-height: 23px;
            color: #8a8a8a;
            font-size: 14px;
            text-align: center;
            padding-left: 15px;
            padding-right: 15px;
        }
        #sub3 {
            width: 100%;
            height: 200px;
            position: relative;
            margin: auto;
            border: 0px solid red;
            background-image: url('img/banner_bg.png')
        }
        #sub3_bg {
            width: 100%;
            height: 200px;
            position: relative;
            border: 0px solid red;
            margin: auto;
            text-align: center;
        }
        #sub3_text1 {
            padding-top: 85px;
            color: #020b41;
            ;
            font-size: 30px;
            font-weight: bold;
        }
        #text5 {
            padding-top: 7px;
            color: gainsboro;
            font-size: 16px;
        }
        #button {
            padding-top: 25px;
        }
        #process_title {
            text-align: center;
            padding-top: 50px;
        }
        #process_text {
            text-align: center;
            padding-top: 20px;
            padding-bottom: 30px;
        }
        #process_text2 {
            text-align: center;
            padding-top: 70px;
            color: #020b41;
            ;
            font-size: 30px;
            font-weight: bold;
        }
        #process_text3 {
            text-align: center;
            padding-top: 70px;
            color: #020b41;
            ;
            font-size: 30px;
            font-weight: bold;
        }
        #process_text2_1 {
            text-align: center;
            padding-top: 12px;
            color: #020b41;
            ;
            font-size: 14px;
            padding-bottom: 30px;
        }
        ul#process li {
            width: 100%;
            height: 280px;
            float: left;
            text-align: center;
        }
        div.process_back {
            width: 100%;
            height: 180px;
        }
        .process_img1 {
            padding-top: 0px;
        }
        .process_text1 {
            padding-top: 15px;
            line-height: 150%;
            color: #363636;
            font-weight: bold;
        }
        .process_text2 {
            padding-top: 15px;
            line-height: 150%;
            color: #626262;
            font-size: 13px;
        }
        #sub2 {
            width: 100%;
            height: 600px;
            position: relative;
            margin: auto;
            border: 0px solid red;
            background-color: white;
            background-color: #081539;
        }
        #sub2_bg {
            width: 100%;
            height: 920px;
            position: relative;
            margin: auto;
            border: 0px solid red;
        }
        #title2 {
            text-align: center;
            padding-top: 50px;
        }
        #text3 {
            padding-left: 15px;
            padding-right: 15px;
            text-align: center;
            padding-top: 50px;
            line-height: 150%;
            font-size: 23px;
            color: #ffffff;
            font-weight: bold;
        }
        #icon {
            width: 727px;
            height: 295px;
            position: relative;
            border: px solid red;
            margin: auto;
        }
        #text4 {
            padding-top: 20px;
        }
        section p.aboutventas_text2_1 {
            padding-top: 20px;
            line-height: 23px;
            color: #8a8a8a;
            font-size: 14px;
            text-align: center;
            padding-left: 15px;
            padding-right: 15px;
        }
        #process_text3 {
            text-align: center;
            padding-top: 50px;
            color: #020b41;
            ;
            font-size: 30px;
            font-weight: bold;
        }
        #sub4 {
            width: 100%;
            position: relative;
            margin: auto;
            border: 0px solid red;
        }
        #sub4_bg {
            width: 100%;
            height: 850px;
            position: relative;
            margin: auto;
            border: 0px solid red;
            text-align: center;
        }
        #sub3 {
            width: 100%;
            height: 200px;
            position: relative;
            margin: auto;
            border: 0px solid red;
            background-image: url('img/banner_bg.png')
        }
        #sub3_bg {
            width: 100%;
            height: 200px;
            position: relative;
            border: 0px solid red;
            margin: auto;
            text-align: center;
        }
        #sub3_text1 {
            padding-top: 55px;
            color: #020b41;
            ;
            font-size: 30px;
            font-weight: bold;
        }

        #sub6 {
            width: 100%;
            height: 500px;
            margin: auto;
            border: 0px solid red;
            background-image: url('img/download_bg.png')
        }

        #sub6_bg {
            width: 780px;
            height: 500px;
            position: relative;
            margin: auto;
            border: 0px solid red;
        }
        #text5 {
            padding-top: 7px;
            color: gainsboro;
            font-size: 16px;
        }
        #button {
            padding-top: 25px;
        }
        #footer {
            width: 100%;
            height: 320px;
            background-color: black;
            position: relative;
            margin: auto;
            font-size: 12px;
            line-height: 20px;
        }
        #footsub {
            width: 100%;
            height: 200px;
            border: 0px solid red;
            position: relative;
            margin: auto;
        }
        .t1 {
            color: white;
            position: absolute;
            left: 50px;
            top: px;
            text-align: left;
        }
        .t2 {
            color: white;
            position: absolute;
            left: 250px;
            top: 50px;
            text-align: left;
        }
        .t3 {
            color: white;
            position: absolute;
            left: 50px;
            top: 150px;
            text-align: left;
        }
        .t4 {
            color: white;
            position: absolute;
            left: 50px;
            top: 200px;
            text-align: left;
        }
        #footlogo {
            position: absolute;
            top: 50px;
        }
        #cop {
            width: 100%;
            height: 40px;
            background-color: black;
            color: white;
            text-align: center;
            border-top: 1px solid gray;
            padding-top: 15px;
            font-size: 14px;
        }
        .footsubtit {
            margin-bottom: 10px;
        }
        .footsubtit1 {
            margin-bottom: 25px;
        }
        .t1 p {
            height: 30px;
        }
        .t2 p {
            height: 30px;
        }
        .t3 p {
            height: 40px;
        }
        .t4 p {
            height: 30px;
        }
        .footsubcot a {
            color: #ffffff;
        }
        #t4_text a {
            color: #1cc1ff;
        }